<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'>
    <title>Cats vs Dogs</title>
    <link href='styles.css' rel='stylesheet'>
  </head>
  <body>
    <div class='main' data-anim-key='animals-init'>
      <div class='score'>
        <div class='play'></div>
      </div>
      <div class='sky'></div>
      <div class='clouds'>
        <div class='cloud cloud-1'>
          <div class='fluff'></div>
          <div class='fluff'></div>
          <div class='fluff'></div>
          <div class='fluff'></div>
          <div class='fluff'></div>
        </div>
        <div class='cloud cloud-2'>
          <div class='fluff'></div>
          <div class='fluff'></div>
          <div class='fluff'></div>
          <div class='fluff'></div>
          <div class='fluff'></div>
        </div>
        <div class='cloud cloud-3'>
          <div class='fluff'></div>
          <div class='fluff'></div>
          <div class='fluff'></div>
          <div class='fluff'></div>
          <div class='fluff'></div>
        </div>
      </div>
      <div class='ground'>
        <div class='grass'>
          <div class='blade-wrap'>
            <div class='blade'></div>
          </div>
          <div class='blade-wrap'>
            <div class='blade'></div>
          </div>
          <div class='blade-wrap'>
            <div class='blade'></div>
          </div>
        </div>
        <div class='grass'>
          <div class='blade-wrap'>
            <div class='blade'></div>
          </div>
          <div class='blade-wrap'>
            <div class='blade'></div>
          </div>
          <div class='blade-wrap'>
            <div class='blade'></div>
          </div>
        </div>
        <div class='grass'>
          <div class='blade-wrap'>
            <div class='blade'></div>
          </div>
          <div class='blade-wrap'>
            <div class='blade'></div>
          </div>
          <div class='blade-wrap'>
            <div class='blade'></div>
          </div>
        </div>
        <div class='grass'>
          <div class='blade-wrap'>
            <div class='blade'></div>
          </div>
          <div class='blade-wrap'>
            <div class='blade'></div>
          </div>
          <div class='blade-wrap'>
            <div class='blade'></div>
          </div>
        </div>
        <div class='grass'>
          <div class='blade-wrap'>
            <div class='blade'></div>
          </div>
          <div class='blade-wrap'>
            <div class='blade'></div>
          </div>
          <div class='blade-wrap'>
            <div class='blade'></div>
          </div>
        </div>
        <div class='grass'>
          <div class='blade-wrap'>
            <div class='blade'></div>
          </div>
          <div class='blade-wrap'>
            <div class='blade'></div>
          </div>
          <div class='blade-wrap'>
            <div class='blade'></div>
          </div>
        </div>
        <div class='grass'>
          <div class='blade-wrap'>
            <div class='blade'></div>
          </div>
          <div class='blade-wrap'>
            <div class='blade'></div>
          </div>
          <div class='blade-wrap'>
            <div class='blade'></div>
          </div>
        </div>
        <div class='grass'>
          <div class='blade-wrap'>
            <div class='blade'></div>
          </div>
          <div class='blade-wrap'>
            <div class='blade'></div>
          </div>
          <div class='blade-wrap'>
            <div class='blade'></div>
          </div>
        </div>
        <div class='grass'>
          <div class='blade-wrap'>
            <div class='blade'></div>
          </div>
          <div class='blade-wrap'>
            <div class='blade'></div>
          </div>
          <div class='blade-wrap'>
            <div class='blade'></div>
          </div>
        </div>
        <div class='grass'>
          <div class='blade-wrap'>
            <div class='blade'></div>
          </div>
          <div class='blade-wrap'>
            <div class='blade'></div>
          </div>
          <div class='blade-wrap'>
            <div class='blade'></div>
          </div>
        </div>
        <div class='animal animal-cat'>
          <div class='animal-wrap wrap-cat'>
            <div class='cat bod furr stroke'>
              <div class='halo'></div>
              <!--=include animal/cat.html -->
            </div>
          </div>
          <div class='animal-wrap wrap-cat'>
            <div class='cat bod furr stroke'>
              <div class='halo'></div>
              <!--=include animal/cat.html -->
            </div>
          </div>
          <div class='animal-wrap wrap-cat'>
            <div class='cat bod furr stroke'>
              <div class='halo'></div>
              <!--=include animal/cat.html -->
            </div>
          </div>
          <div class='animal-wrap wrap-cat'>
            <div class='cat bod furr stroke'>
              <div class='halo'></div>
              <!--=include animal/cat.html -->
            </div>
          </div>
          <div class='animal-wrap wrap-cat'>
            <div class='cat bod furr stroke'>
              <div class='halo'></div>
              <!--=include animal/cat.html -->
            </div>
          </div>
          <div class='animal-wrap wrap-cat'>
            <div class='cat bod furr stroke'>
              <div class='halo'></div>
              <!--=include animal/cat.html -->
            </div>
          </div>
          <div class='animal-wrap wrap-cat'>
            <div class='cat bod furr stroke'>
              <div class='halo'></div>
              <!--=include animal/cat.html -->
            </div>
          </div>
          <div class='animal-wrap wrap-cat'>
            <div class='cat bod furr stroke'>
              <div class='halo'></div>
              <!--=include animal/cat.html -->
            </div>
          </div>
          <div class='animal-wrap wrap-cat'>
            <div class='cat bod furr stroke'>
              <div class='halo'></div>
              <!--=include animal/cat.html -->
            </div>
          </div>
          <div class='animal-wrap wrap-cat'>
            <div class='cat bod furr stroke'>
              <div class='halo'></div>
              <!--=include animal/cat.html -->
            </div>
          </div>
          <div class='animal-wrap wrap-cat'>
            <div class='cat bod furr stroke'>
              <div class='halo'></div>
              <!--=include animal/cat.html -->
            </div>
          </div>
          <div class='animal-wrap wrap-cat'>
            <div class='cat bod furr stroke'>
              <div class='halo'></div>
              <!--=include animal/cat.html -->
            </div>
          </div>
          <div class='animal-wrap wrap-cat'>
            <div class='cat bod furr stroke'>
              <div class='halo'></div>
              <!--=include animal/cat.html -->
            </div>
          </div>
          <div class='animal-wrap wrap-cat'>
            <div class='cat bod furr stroke'>
              <div class='halo'></div>
              <!--=include animal/cat.html -->
            </div>
          </div>
          <div class='animal-wrap wrap-cat'>
            <div class='cat bod furr stroke'>
              <div class='halo'></div>
              <!--=include animal/cat.html -->
            </div>
          </div>
          <div class='animal-wrap wrap-cat'>
            <div class='cat bod furr stroke'>
              <div class='halo'></div>
              <!--=include animal/cat.html -->
            </div>
          </div>
          <div class='animal-wrap wrap-cat'>
            <div class='cat bod furr stroke'>
              <div class='halo'></div>
              <!--=include animal/cat.html -->
            </div>
          </div>
          <div class='animal-wrap wrap-cat'>
            <div class='cat bod furr stroke'>
              <div class='halo'></div>
              <!--=include animal/cat.html -->
            </div>
          </div>
          <div class='animal-wrap wrap-cat'>
            <div class='cat bod furr stroke'>
              <div class='halo'></div>
              <!--=include animal/cat.html -->
            </div>
          </div>
          <div class='animal-wrap wrap-cat'>
            <div class='cat bod furr stroke'>
              <div class='halo'></div>
              <!--=include animal/cat.html -->
            </div>
          </div>
        </div>
        <div class='animal animal-dog'>
          <div class='animal-wrap wrap-dog'>
            <div class='dog bod furr stroke'>
              <div class='halo'></div>
              <!--=include animal/dog.html -->
            </div>
          </div>
          <div class='animal-wrap wrap-dog'>
            <div class='dog bod furr stroke'>
              <div class='halo'></div>
              <!--=include animal/dog.html -->
            </div>
          </div>
          <div class='animal-wrap wrap-dog'>
            <div class='dog bod furr stroke'>
              <div class='halo'></div>
              <!--=include animal/dog.html -->
            </div>
          </div>
          <div class='animal-wrap wrap-dog'>
            <div class='dog bod furr stroke'>
              <div class='halo'></div>
              <!--=include animal/dog.html -->
            </div>
          </div>
          <div class='animal-wrap wrap-dog'>
            <div class='dog bod furr stroke'>
              <div class='halo'></div>
              <!--=include animal/dog.html -->
            </div>
          </div>
          <div class='animal-wrap wrap-dog'>
            <div class='dog bod furr stroke'>
              <div class='halo'></div>
              <!--=include animal/dog.html -->
            </div>
          </div>
          <div class='animal-wrap wrap-dog'>
            <div class='dog bod furr stroke'>
              <div class='halo'></div>
              <!--=include animal/dog.html -->
            </div>
          </div>
          <div class='animal-wrap wrap-dog'>
            <div class='dog bod furr stroke'>
              <div class='halo'></div>
              <!--=include animal/dog.html -->
            </div>
          </div>
          <div class='animal-wrap wrap-dog'>
            <div class='dog bod furr stroke'>
              <div class='halo'></div>
              <!--=include animal/dog.html -->
            </div>
          </div>
          <div class='animal-wrap wrap-dog'>
            <div class='dog bod furr stroke'>
              <div class='halo'></div>
              <!--=include animal/dog.html -->
            </div>
          </div>
          <div class='animal-wrap wrap-dog'>
            <div class='dog bod furr stroke'>
              <div class='halo'></div>
              <!--=include animal/dog.html -->
            </div>
          </div>
          <div class='animal-wrap wrap-dog'>
            <div class='dog bod furr stroke'>
              <div class='halo'></div>
              <!--=include animal/dog.html -->
            </div>
          </div>
          <div class='animal-wrap wrap-dog'>
            <div class='dog bod furr stroke'>
              <div class='halo'></div>
              <!--=include animal/dog.html -->
            </div>
          </div>
          <div class='animal-wrap wrap-dog'>
            <div class='dog bod furr stroke'>
              <div class='halo'></div>
              <!--=include animal/dog.html -->
            </div>
          </div>
          <div class='animal-wrap wrap-dog'>
            <div class='dog bod furr stroke'>
              <div class='halo'></div>
              <!--=include animal/dog.html -->
            </div>
          </div>
          <div class='animal-wrap wrap-dog'>
            <div class='dog bod furr stroke'>
              <div class='halo'></div>
              <!--=include animal/dog.html -->
            </div>
          </div>
          <div class='animal-wrap wrap-dog'>
            <div class='dog bod furr stroke'>
              <div class='halo'></div>
              <!--=include animal/dog.html -->
            </div>
          </div>
          <div class='animal-wrap wrap-dog'>
            <div class='dog bod furr stroke'>
              <div class='halo'></div>
              <!--=include animal/dog.html -->
            </div>
          </div>
          <div class='animal-wrap wrap-dog'>
            <div class='dog bod furr stroke'>
              <div class='halo'></div>
              <!--=include animal/dog.html -->
            </div>
          </div>
          <div class='animal-wrap wrap-dog'>
            <div class='dog bod furr stroke'>
              <div class='halo'></div>
              <!--=include animal/dog.html -->
            </div>
          </div>
        </div>
        <!--=include gun/raygun.html -->
        <!--=include gun/cannon.html -->
      </div>
    </div>
    <script src='js.js'></script>
  </body>
</html>
