.ear.ear-left.furr.stroke
.ear.ear-right.furr.stroke
.face
  .eyebrow
  .eye
    .pupil
  .nose
  .whiskers
    -3.times do
      .whisker
.arm.furr-2
.leg.leg-left.furr.stroke
.leg.leg-right.furr.stroke
.tail
  -5.times do
    .tail-section.furr.stroke